## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barmer,IN,25.7500,71.3833,95.65,37,0,12.57,clear sky
1,1,Mataura,NZ,-46.1927,168.8643,49.48,94,100,9.17,light rain
2,2,Sept-Iles,CA,50.2001,-66.3821,55.83,68,20,4.61,few clouds
3,3,Upernavik,GL,72.7868,-56.1549,30.24,74,3,8.61,clear sky
4,4,Charleston,US,32.7766,-79.9309,77.02,96,90,6.76,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Charleston,US,32.7766,-79.9309,77.02,96,90,6.76,overcast clouds
7,7,Butaritari,KI,3.0707,172.7902,83.28,67,99,2.93,overcast clouds
12,12,Chokurdakh,RU,70.6333,147.9167,84.20,23,94,19.22,overcast clouds
15,15,Kieta,PG,-6.2167,155.6333,82.54,74,57,3.18,light rain
22,22,Saint Pete Beach,US,27.7253,-82.7412,78.03,81,100,3.00,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                168
City                   168
Country                167
Lat                    168
Lng                    168
Max Temp               168
Humidity               168
Cloudiness             168
Wind Speed             168
Current Description    168
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID                167
City                   167
Country                167
Lat                    167
Lng                    167
Max Temp               167
Humidity               167
Cloudiness             167
Wind Speed             167
Current Description    167
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Charleston,US,77.02,overcast clouds,32.7766,-79.9309,
7,Butaritari,KI,83.28,overcast clouds,3.0707,172.7902,
12,Chokurdakh,RU,84.20,overcast clouds,70.6333,147.9167,
15,Kieta,PG,82.54,light rain,-6.2167,155.6333,
22,Saint Pete Beach,US,78.03,overcast clouds,27.7253,-82.7412,
34,Mayumba,GA,75.74,broken clouds,-3.4320,10.6554,
35,Bengkulu,ID,79.77,overcast clouds,-3.8004,102.2655,
42,Seoul,KR,79.99,few clouds,37.5683,126.9778,
43,Itarema,BR,76.24,clear sky,-2.9248,-39.9167,
49,Kununurra,AU,82.38,broken clouds,-15.7667,128.7333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [9]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Charleston,US,77.02,overcast clouds,32.7766,-79.9309,The Mills House Wyndham Grand Hotel
7,Butaritari,KI,83.28,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
12,Chokurdakh,RU,84.20,overcast clouds,70.6333,147.9167,
15,Kieta,PG,82.54,light rain,-6.2167,155.6333,Uruna Bay Retreat
22,Saint Pete Beach,US,78.03,overcast clouds,27.7253,-82.7412,Grand Plaza Hotel - St. Pete Beach

In [28]:
# 7. Drop the rows where there is no Hotel Name.

# Replace empty string values with NaN in Hotel Name column.
hotel_df['Hotel Name'].replace('',np.nan)

# Drop rows with NaN values in Hotel Name column.
hotel_df.dropna(subset=['Hotel Name'])

# Create new dataframe to store location, weather data and nearest hotel.
clean_hotel_df = hotel_df

clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Charleston,US,77.02,overcast clouds,32.7766,-79.9309,The Mills House Wyndham Grand Hotel
7,Butaritari,KI,83.28,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
15,Kieta,PG,82.54,light rain,-6.2167,155.6333,Uruna Bay Retreat
22,Saint Pete Beach,US,78.03,overcast clouds,27.7253,-82.7412,Grand Plaza Hotel - St. Pete Beach
34,Mayumba,GA,75.74,broken clouds,-3.4320,10.6554,LIKWALE LODGE

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Descrition</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))